.ceditor {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    gap: 10px;
    height: auto;
    margin-top: 30px;
}

.icon .navbar-brand {
    font-family: Dancing Script;
    font-size: 35px;
    font-weight: bolder;
}

a {
    color: white !important;
}