.ceditor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin-top: 30px;
}

.icon .navbar-brand {
    font-family: Dancing Script;
    font-size: 35px;
    font-weight: bolder;
}

a {
    color: #ff00af !important;
}